$primary-color: #296789;
$primary-dark: #003d5c; 
$primary-light: #5d95b9;
$gray: #ebebee;

.paddingY-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.gray-bg {
  background-color: $gray;
}