.conversation {
  border: 1px solid #dddfe2;
  padding: 8px;
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
  border-radius: 3px;
  background-color: #fff;

  .chat {
    overflow: hidden;
    margin-bottom: 4px;
    .content {
      background-color: #f1f0f0;
      padding: 4px;
      // min-width: 70%;
      max-width: 70%;
      border-radius: 5px;
      &.ltr {
        float: left;
      }
      &.rtl {
        float: right;
        .name {
          text-align: right;
        }
      }
      .name {
        font-weight: bold;
        font-size: 13px;
        display: block;
        width: 100%;
      }
      .message {
        font-size: 15px;
      }
    }
  }
}
.chatbox {
  margin: 8px 0;
  resize: none;
  width: 100%;
  height: 70px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 8px;
}
.send-button {
  display: block;
  width: 100%; height: 40px;
  border: 1px solid $primary-light;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
  &:hover {
    opacity: 1;
  }
}
