header
  nav.nav.text-center
    .container
      ul.navheader.navheader-left
        li
          a(href="#/")
            span TEXT
      ul.navheader.navheader-center
        li
          a(href="#/").headerlogo.logotext
            span SN
            span BN
      ul.navheader.navheader-right
        li
          a(href="#/")
            span TEXT