.modal#nickname-modal
  .modal-content
    .modal-header
      p Nickname của bạn là gì ?
    .modal-body
      input(type="text" name="nickname" placeholder="Nhập nickname của bạn" autocomplete="off")
    .modal-footer
      button.accept-btn Đồng ý
