extends layout

block left-sidebar
  ul.user-list
    //- li VuMinhLuan
    //- li Lorem, ipsum dolor.
    //- li LinhTran
block main
  .conversation
    //- .chat(data-dir="ltr")
    //-   .content.ltr
    //-     span.name Vu Minh Luan:
    //-     .message
    //-       | culpa ipsam laboriosam.
    //- .chat(data-dir="rtl")
    //-   .content.rtl
    //-     span.name Vu Minh Luan:
    //-     .message
    //-       | Lorem ipsum dolor sit amet.
    p.chat-noty.someone-typing-noty
  .chat-composer
    span.chat-nickname
    input(type="hidden" name="chat_nickname")
    textarea(name="chatbox", id="chatbox", placeholder="Hãy gửi lời yêu thương tới mọi người...").chatbox
    button(type="button").send-button
      //- disabled
      | Gửi

//- block right-sidebar
//-   div.widget.widget-notification.paddingY-8
//-     ul
//-       li.welcome.web-noty Chào mừng 
//-         b.nickname bạn
//-         |  tới chatroom !
//-         span.remove-noty-button &times;
//-       li.welcome.web-noty Chào mừng 
//-         b.nickname bạn
//-         |  tới chatroom !
//-         span.remove-noty-button &times;

block modal
  include components/nickname-modal.pug
