extends layout

block main
  .conversation
    //- .chat(data-dir="ltr")
    //-   .content.ltr
    //-     span.name Vu Minh Luan:
    //-     .message
    //-       | culpa ipsam laboriosam.
    //- .chat(data-dir="rtl")
    //-   .content.rtl
    //-     span.name Vu Minh Luan:
    //-     .message
    //-       | Lorem ipsum dolor sit amet.
  .chat-composer
    textarea(name="chatbox", id="chatbox", placeholder="Hãy gửi lời yêu thương tới mọi người...").chatbox
    button(type="button", disabled="").send-button
      | Gửi
